.result{
display: flex;
}
.result__box{
    padding:10%;
    width: 85%;
    background-color: transparent;
   /* background-color: rgb(181, 181, 181); */
   box-shadow: 0px 0px 2px 0px black;
   padding-top: 20px;
   border-bottom-left-radius:20px ;
   border-bottom-right-radius:20px ;
   padding-bottom: 60px;
   
}
.result__box h1{
    font-family:"Montserrat",sans-serif;
    font-weight: 200;
    padding-bottom:20px ;
}
.result__box h3{
    font-family:"Montserrat",sans-serif;
    font-weight: 400;
    padding-bottom: 5px;
}
.result__box p{
    font-family:"Montserrat",sans-serif;
    font-weight: 300;
    padding-top: 5px;

}
.result__box img{
    width: 15%; 
}
.result__box button{
    border:none;
    outline: none;
    margin-top: 20px;
    border-radius: 20px;
    padding:5px;
    box-shadow: none;
    text-transform: capitalize;
}